.table-view {
    -fx-selection-bar: #1DB954;
    -fx-selection-bar-non-focused: #1DB954;
}
.table-row-cell:hover {
    -fx-background-color: #282828;
}
.table-row-cell:selected {
    -fx-background-color: #1DB954;
}
.table-column-header {
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-opacity: 0.8;
}
.text-field:focused {
    -fx-border-color: #1DB954;
    -fx-border-width: 0 0 2 0;
}